/* 
some issues in safari, try chrome 
importing bourbon and declaring variables in scss
importing awesome css here for icons. Ended up not using as of now!:(

*/


@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

$boston-cover: url("../image-assets/Boston-cover.jpg");

header{
 // Why 100vh? Using this will keep the image header height in 100% proportion to the viewport height. Using 100% will do the same but is not a good practice. Critical to know.

    height:100vh; 
    //background of the header
    background-image: $boston-cover;
    background-position: center;
    background-size: cover;
    margin-top: -20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    //font
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: white;
    // this shadow is maintained across header items       
}

header h2{
     transform: 100ms ease-in-out;
}

header h2{
        font-size: 20px;
        color: whitesmoke;
        text-transform: uppercase;
        text-decoration: none;
}
    h2:hover{
        transform: scale(1.2);
        color: whitesmoke;
        text-decoration: none;
    }
    


// Adding psudo class before to create an overlay on header background
// header::before{ content:"";    top: 0; left: 0; width: 100%; height: 100%; position: absolute; background: rgba(9,9,9, 0.7);        }
   
.main-content{
// this encapsulates all the content below header
    
     display: block;
     position:relative;
     padding:15px;
     margin-top:-25px;
     background-color: whitesmoke;   
}

p { 
    align-content: center;
    padding: 20px;
    left:0;
    margin: 0px auto 0px; 
    display: block;
    color: darkslategrey;
    font-size: 15px;
    font-smoothing: antialiased;

    }

// decorating footer menu of the page here 
.footer{
  background: black;
  color:whitesmoke;
  margin:0px;
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-content:space-around;
  text-transform: capitalize;
}
.footer span{
    margin: auto;
    color:whitesmoke;
    padding:2px;
}
.footer ul{
  cursor:pointer;
  list-style:none;
  text-decoration-line: none;
  color:whitesmoke;
   :hover{
    color:rgba(89,89,89, 0.9);
    text-decoration:none;}
}


